.App {
	/*background-color: aqua;*/
	margin: 0 auto;
}

header {
	height: 100px;
	border-bottom: 1px solid rgb(154, 154, 154);
}

img {
	height: 50px;
	width: 50px;
}

h1 {
	font-size: 30px;
	margin-bottom: 30px;
}

h2 {
	font-size: 25px;
	margin-bottom: 20px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	/*background-color: red;*/
}

.hero-container {
	padding: 30px 0;
	display: flex;
}

.hero-description {
	font-size: 20px;
	color: grey;
}

.hero-container img {
	width: 350px;
	height: 200px;
	border-radius: 5px;
}

main {
	background-color: lightgrey;
}

.main-part {
	display: flex;
}

.left-part {
	/* background-color: red; */
	width: 70%;
}
/****** PANIER ***************/
.right-part {
	background-color: rgb(255, 255, 255);
	background-color: rgb(178, 243, 178);
	width: 30%;
	border: 1px solid rgb(149, 149, 149);
	border-radius: 10px;
	/* width: 320px; */
	height: fit-content;
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.validPanier {
	background-color: #00cdbd;
	height: 60px;
	width: 80%;
}

.itemPanier {
	background-color: rgb(205, 168, 2);
	padding-bottom: 15px;
	font-size: 16px;
	width: 100%;
}

.lineItem {
	/*background-color: rgb(234, 243, 178);*/
	height: fit-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 5px;
}
/* 
.itemPanier:nth-last-child(n) {
	background-color: rgb(63, 188, 1);
	display: flex;
	justify-content: flex-end;
	text-align: right;
} */

.prix {
	display: flex;
}

.sousTotal {
	border-top: 1px solid rgb(149, 149, 149);
}
.total {
	border-top: 1px solid rgb(149, 149, 149);
	font-weight: 700;
}

#encadreMeal {
	/* border: 2px solid rgb(255, 0, 0); */
	cursor: pointer;
}

/**********************/

.category-container {
	/*background-color: blue; */
	margin: 30px 0;
}

.meals-container {
	/* background-color: blue; */

	display: flex;
	flex-wrap: wrap;
	/* column-gap: 10%; */
	justify-content: space-evenly;
}

article {
	border: 0.5px solid rgb(236, 236, 236);
	height: 160px;
	/* width: 380px; */
	width: 45%;
	background-color: white;
	padding: 14px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	margin-bottom: 20px;
}

article img {
	height: 130px;
	width: 130px;
	object-fit: cover; /* pour ne pas déformer les images */
	border-radius: 5px;
}

.meal-title {
	font-size: 20px;
	margin-bottom: 10px;
}

.meal-description {
	height: 33px;
	/* background-color: red; */
	overflow: hidden;
	/* text-overflow: ellipsis; */
	margin-bottom: 20px;
}

.price-popular-container {
	display: flex;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- MEDIA QUERIES --★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆ */
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

@media (max-width: 1150px) {
	.container {
		max-width: 97vw;
		/*background-color: red;*/
		margin: 0 auto;
	}
}
